<!-- 네브바 시작 -->
<nav class="navbar navbar-expand-md navbar-dark bg-success mb-5">
  <div
    class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"><a class="nav-link" href="#">메뉴1</a></li>
      <li class="nav-item"><a class="nav-link" href="#">메뉴2</a></li>
      <li class="nav-item"><a class="nav-link" href="#">메뉴3</a></li>
      <li class="nav-item"><a class="nav-link" href="#">메뉴4</a></li>
      <li class="nav-item"><a class="nav-link" href="#">메뉴5</a></li>
    </ul>
  </div>
  <div class="mx-auto order-0">
    <a class="navbar-brand mx-auto" routerLink="/">그린블로그</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target=".dual-collapse2">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2 justify-content-end">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><a class="nav-link" routerLink="user/login">로그인</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="user/join">회원가입</a></li>
    </ul>
  </div>
</nav>
<!-- 네브바 끝 -->
